.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  overflow: hidden;
  height: 100vh;
  max-width: 30%;
  outline: 2px solid black;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-side {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side > * {
  padding: 50px;
}